*{
	margin:0;
	padding: 0;
}

body{
	background: rgb(44,49,54);
	font-size: 1.6rem;
  	font-family: "Open Sans", sans-serif;
}#body-help{
	background-color: #2fce92;
}

#wrapper
{
	width: 1300px;
	margin: 0 auto;
}

header
{
	margin: 0 auto;
	height: 66px;
	text-align: center;
	background-color: #1784c7;
	color:white;
}



.menu-fixed{
	margin: 0;
	position: fixed;
	width: 100%;
	height: 65px;
	background-color: #3e454c;
	z-index: 2;
}

.menu-tags{
	color: rgb(49,49,54);
}

.menu-links{
	margin-top: 20px;
	display: block;
	float: left;
	color:#f2f2f2;
	text-decoration: none;
	font-size: 16px;
	margin-left: 12px;
	padding: 5px 25px 5px 25px; 
	box-shadow: 2px 0 #1784c7;
	border-bottom-left-radius: 15px;
	
}

.menu-links:hover{
	animation: 1s animation-color alternate; 
	background-color: #1784c7;
}

.logo-nav{
	width: 30px;
	height: auto;
}

.banner-img{
	width: 100%;
	background-size: cover;

}

.center-absolute{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	top: 80%;
	left: 47%;

	width: 40px;
	height: 15px;
	
	background-color: #1784c7;

}

.blur{
	background-color: rgba(44,49,54,0.9);
	box-shadow: 1px 1px #1784c7;
}


#btnLogin{
	float: right;
	margin-right: 30px;
	box-shadow: 2px 0 lime;
}
#btnLogin:hover{
	animation: 1s animation-color-l; 
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	padding: 0;
	text-align: center;
	height: 400px;
}
	
	.col-index
	{
		width: 100%;
		padding: 0;
		background-color:rgba(0, 202, 142, 0.842);
	}
	.animateScrollMove{
		animation: scrollMoveSvg 1s;
		animation-fill-mode: forwards;
	}
	.animateScrollMoveUp{
		animation: scrollMoveSvgUp 1s;
		animation-fill-mode: forwards;
	}

	.div-title-banner{
		margin: 45px;
		position: absolute;
	    z-index: 1;
	}.title-banner{
		color: #fff;
		text-decoration: none;
	}.p-title-banner{
		font-size: 35px;
	}.p-subtitle-banner{
		margin: 25px;
		color: #fff;
		font-size: 15px;
	}.btn-registro-banner{
		margin: 45px;
		text-decoration: none;
		color: #000;
		background-color: #f2f2f2;
		padding: 10px 15px 10px 15px;
		font-size: 16px;
		border-radius: 5px;
	}.right{
		margin-right: 45px;
		position: relative;
		float: right;
	} .div-father{
		top: 360px;
		width: 100%;
		height: auto;
		display: inline;
		position: relative;
		z-index: 1;
	}.transparent{
		background-color: transparent;
	}

	.card
	{
		margin: 0px;
		background-color: rgba(33, 36, 61, 0.37);
		width: 50%;
		color: #fff;
	}.card-title{
		
	}.img-card-index{
		width: 250px;
		float: left;
	}.p-card-index{
		margin-right: 10px;
		margin-left: 30px;
		margin-top: 100px;
		font-size: 16px;
	}
	
	.footer{
		width: 100%;
		height: 300px;
		background-color: rgba(0, 202, 142, 0.842);
		z-index: 1;
	}
	.imput-help{
		padding-left: 10px;
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		margin: auto;

		top: 50%;
		width: 480px;
		height: 15px;

		display: inline-block;

		color: #fff4e0;
		background-color: rgba(255, 197, 0, 0.842);
		font-size: 18px;
		text-align: center;
		padding: .9em 1.8em;
		border: none;
		cursor: pointer;
		outline: none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}.p-help{
		top:30%;
		background-color: transparent;
		font-size: 40px;
		font-weight: 800;
	}

@media screen and (max-width: 960px){

	#wrapper
	{
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 775px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	.menu-links{
		display: none;
	}
	.logo-nav{
		display: block;
	}
	.card{
		width: 100%;
		margin: 0 auto;
	}
	.p-card-index{
		margin-right: 50px;
		text-align: left;	
	}
}

@media screen and (max-width: 480px){

#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	.col-index
	{
		width: 100%;
	}
	.card
	{
		width: 100%;
	}

	header
	{
		width:100%;
	}
}



/* Animaciones */

@keyframes animation-color {
	to{
	background-color: #1784c7;
	}
	from{
	background-color: rgb(24, 13, 91);
	}
}
@keyframes animation-color-l {
	to{
	background-color: green;
	}
	from{
	background-color: rgb(24, 13, 91);
	}
}



.cd-nav-trigger {
	/* navigation trigger - visible on mobile devices only */
	float: right;
	position: relative;
	display: block;
	width: 34px;
	height: 44px;
	margin-right: 5%;
	/* hide text */
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
  }
  .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
	/* hamburger icon in CSS */
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 24px;
	background: #ffffff;
  }
  .cd-nav-trigger span {
	/* line in the center */
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: 10px;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
  }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
	/* other 2 lines */
	content: '';
	right: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
  }
  .cd-nav-trigger span::before {
	/* menu icon top line */
	top: -6px;
  }
  .cd-nav-trigger span::after {
	/* menu icon bottom line */
	top: 6px;
  }
  .cd-nav-trigger.nav-is-visible span {
	/* hide line in the center */
	background: rgba(255, 255, 255, 0);
  }
  .cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
	/* keep visible other 2 lines */
	background: white;
  }
  .cd-nav-trigger.nav-is-visible span::before {
	-webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
	-moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
	-ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
	-o-transform: translateX(4px) translateY(-3px) rotate(45deg);
	transform: translateX(4px) translateY(-3px) rotate(45deg);
  }
  .cd-nav-trigger.nav-is-visible span::after {
	-webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
	-moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
	-ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
	-o-transform: translateX(4px) translateY(2px) rotate(-45deg);
	transform: translateX(4px) translateY(2px) rotate(-45deg);
  }

  @media only screen and (min-width: 775px) {
	.cd-nav-trigger {
	  display: none;
	}

  }


  /*	Animacion de scroll de img.svg		*/


  @keyframes scrollMoveSvg{
	 to{
		margin: 45px;
	 }from{
		margin: 0px;
	 }
  }

  @keyframes scrollMoveSvgUp{
	to{
	   margin: 0px;
	}from{
	   margin: 45px;
	}
 }

  