doctype html
head
  meta(charset='utf-8')
  title Work Cloud
  link(href='/css/style-index.css', type='text/css', rel='stylesheet')
  link(rel='shortcut icon', href='/img/ico/work-cloud-logo.ico', type='image/x-icon')
  meta(name='viewport', content='width=device-width,user-scalable=no')
header
  #menu-fixed.menu-fixed
    .menu-tags
      img.menu-links.logo-nav(src='/img/work-cloud-logo.svg', alt='')
      a.menu-links(href='index.html') Home
      a.menu-links(href='about.html') About
      a.menu-links(href='documentation.html') Documentation
      a#btnLogin.menu-links(href='login.html') Log in
      a#btnLogin.menu-links(href='help.html') Help
      a#toggle-menu.cd-nav-trigger(href='#0')
        | Menu
        span
#wrapper
  p#p-opss.imput-help.p-help Opss! pagina en contrucci&oacute;n :(
  .col-index.transparent
    img.banner-img(src='/img/404-error.svg', alt='')
footer
  article.container.footer
    article.card
      ul.footer-ul
        li.footer-li
          a.footer-a(href='#')
            spam.icon.icon-location.footer-spam
            p.footer-p Pabellon de Arteaga
            p.footer-p.footer-p-bold
              br
              | Pabellon de Arteaga
        li.footer-li
          a.footer-a(href='#')
            spam.icon.icon-mail.footer-spam
            p.footer-p oscar.eduardo.raygoza@gmail.com
            p.footer-p.footer-p-bold
              br
              | Contactanos
        li.footer-li
          a.footer-a(href='#')
            spam.icon.icon-phone.footer-spam
            p.footer-p 044-465-135-31-38
            p.footer-p.footer-p-bold
              br
              | Comunicate con nosotros
    article.card
      ul.footer-ul.footer-ul-right
        li.footer-li.footer-li-right
          a.footer-a(href='#')
            p.footer-p.footer-p-bold
              br
              | Work Cloud
          spam.icon.icon-facebook.footer-spam-right
        li.footer-li
          a.footer-a(href='#')
            p.footer-p.footer-p-bold _Work_Cloud (oficial)
          spam.icon.icon-instagram.footer-spam-right
        li.footer-li
          a.footer-a(href='#')
            p.footer-p.footer-p-bold @Work_Cloud (oficial)
          spam.icon.icon-twitter.footer-spam-right
        li.footer-li
          a.footer-a(href='#')
            p.footer-p.footer-p-bold Work Cloud
          spam.icon.icon-youtube.footer-spam-right
script(src='/js/front-index.js')