<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <title>Work Cloud</title>
         <link rel="stylesheet" href="../assets/fonts/demo-files/demo.css">
         <link href="../assets/css/style-index.css" type="text/css" rel="stylesheet">
         <link rel="shortcut icon" href="../assets/img/ico/work-cloud-logo.ico" type="image/x-icon">
         <meta name="viewport" content="width=device-width,user-scalable=no">
    </head>
    <body class="cuerpo">
     
      <header>
        <div id="menu-fixed" class="menu-fixed">
          <div class="menu-tags">
              <img class="menu-links logo-nav" src="../assets/img/work-cloud-logo.svg" alt="">

              <a class="menu-links" href="index.html">Home</a>
              <a class="menu-links" href="about.html">About</a>
              <a class="menu-links" href="documentation.html">Documentation</a>
    
              <a class="menu-links" id="btnLogin" href="login.html">Log in</a>
              <a class="menu-links" id="btnLogin" href="help.html">Help</a>
              <a href="#0" class="cd-nav-trigger" id="toggle-menu">Menu<span></span></a>
          </div>
        </div>
      </header>

      <div id="wrapper">
        <section>
          <div class="div-title-banner">
              <p class="p-title-banner"><a href="#" class="title-banner">Work Cloud</a></p>
              <p class="p-subtitle-banner"><b>¿Que es Work Cloud?</b></p>
              <p class="p-subtitle-banner">Work Cloud es una red social para empresas 
              <br>de software con el fin de compartir sus proyectos,<br>
               dudas, aclaraciones, etc. <br>
              </p>
              <p class="p-subtitle-banner">Con el resultado de establecer una mejor conversaciòn<br>
                con todo el personal y obtener mejores resultados<br>
                para la empresa y sus trabajadores.
                </p>
                <a href="#" class="btn-registro-banner">Registrate</a>
            </div>
          <article class="col-index" id="columna1">
            <img id="banner-img-index" src="../assets/img/banners/index-banner-3.svg" class="banner-img" alt="">
          </article>
          
          <div class="div-father">
          
           <div class="div-title-banner right">
              <p class="p-title-banner"><a href="#" class="title-banner">Utilidad</a></p>
              <p class="p-subtitle-banner"><b>¿Por qué utilizar Work Cloud?</b></p>
              <p class="p-subtitle-banner">Work Cloud es la una tendencia para las empresas 
              <br>Ya que esta mejora el rendimiento y la comunicación entre<br>
              los trabajadores en el área de software como por ejemplo DevOps,<br>diseñadores, programadores, etc.</p>
              <p class="p-subtitle-banner"><br>
                con la diferencia de utilizar otra red social esta misma maneja <br>
                herramientas especiales para la comunicación. 
                </p>
                <a href="#" class="btn-registro-banner">Saber mas</a>
            </div>
          <article class="col-index transparent" id="columna1">
            <img id="banner-img-index-down" src="../assets/img/banners/index-banner-4.svg" class="banner-img" alt="">
          </article>
        </div>


          <article class="card" id="columna2">
            <p class="card-title"><b>Rendimiento en el trabajo</b></p>
            <img class="img-card-index" src="../assets/img/svg-cards/process.svg" alt="">
            <p class="p-card-index">Supervisar el progreso.
              identificar los pasos para cumplir el objetivo
              evaluar que tanto congenia en las tareas
              reconocer el exito de cada uno 
              evaluar si posee el tamano adecuado
              sea adaptable a cada proyecto
              cuente con los recursos adecuados
            </p>
          </article>

          <article class="card">
              <p class="card-title"><b>Ejecucion de tareas</b></p>
              <img class="img-card-index" src="../assets/img/svg-cards/edit.svg" alt="">
              <p class="p-card-index">
                Desglose de tareas
                verificación de que las tareas cumplan con los objetivos propuestos
                ordenamiento de tareas 
                fijar tiempos de ejecución
                definicion de los responsables de las tareas o grupo de ellas
                estimacion de costos de ejecución
              </p>
          </article>

          <article class="card" id="columna3">
              <p class="card-title"><b>Almacenamiento</b></p>
              <img class="img-card-index" src="../assets/img/svg-cards/grafics.svg" alt="">
              <p class="p-card-index">Cada usuario tendra 15 GB de almacenamiento libre para cumplir con sus responsabilidades en el sistema, el cuál se podra usar de manera libre y sencilla con facil uso.
                </p>
          </article>

          <article class="card" id="columna3">
              <p class="card-title"><b>Progreso rápido</b></p>
              <img class="img-card-index" src="../assets/img/svg-cards/pay.svg" alt="">
              <p class="p-card-index">Todos los empleados tiene la oportunidad de avanzar y realizar de una manera más eficaz
                 las tareas asignadas a cada uno de ellos.</p>
          </article>

          <article class="card" id="columna3">
              <p class="card-title"><b>Diseño y Usabilidad</b></p>
              <img class="img-card-index" src="../assets/img/svg-cards/all personal.svg" alt="">
              <p class="p-card-index">Nos enfocamos en un diseño mas minimalista para los usuarios 
                con una interface mas interactiva para tener una mejor experiencia interactiva
              </p>
          </article>


          <article class="card" id="columna3">
              <p class="card-title"><b>Soporte</b></p>
              <img class="img-card-index" src="../assets/img/svg-cards/grafics.svg  " alt="">
              <p class="p-card-index">Se le brindará soporte a los usuarios  que permanezcan y usen 
                la aplicación de manera continua, evitando que e estos tengan problemas y de ser asi, 
                sean solucionados de manera inmediata.</p>
          </article>

          
        

        </section>
      </div>
      <article class="container">
        <div onLoad="mostrar_hora()">  
          <br> 
            <div id="fecha">
                <p class="p-title-banner" id="title-date"><a href="#" class="title-banner">Ya solo faltan</a></p>
                <span id="meses"></span> 
                <span id="dias"></span>  
                <span id="hora"></span>  
                <span id="minuto"></span>  
                <span id="segundo"></span> 
            </div>  
          </div>
    </article>
      <footer>
         <article class="container footer">
            <article class="card">
                <ul class="footer-ul">
                  <li class="footer-li"><a href="#" class="footer-a"><spam class="icon icon-location footer-spam"></spam><p class="footer-p">Pabellon de Arteaga</p><p class="footer-p footer-p-bold"><br>Pabellon de Arteaga</p></a></li>
                  <li class="footer-li"><a href="#" class="footer-a"><spam class="icon icon-mail footer-spam"></spam><p class="footer-p">oscar.eduardo.raygoza@gmail.com</p><p class="footer-p footer-p-bold"><br>Contactanos</p></a></li>
                  <li class="footer-li"><a href="#" class="footer-a"><spam class="icon icon-phone footer-spam"></spam><p class="footer-p">044-465-135-31-38</p><p class="footer-p footer-p-bold"><br>Comunicate con nosotros</p></a></li>                 
                </ul>
            </article>

            <article class="card">
                <ul class="footer-ul footer-ul-right">
                  <li class="footer-li footer-li-right"><a href="#" class="footer-a"><p class="footer-p footer-p-bold"><br>Work Cloud</p></a><spam class="icon icon-facebook footer-spam-right"></spam></li>
                  <li class="footer-li"><a href="#" class="footer-a"><p class="footer-p footer-p-bold">_Work_Cloud (oficial)</p></a><spam class="icon icon-instagram footer-spam-right"></spam></li>
                  <li class="footer-li"><a href="#" class="footer-a"><p class="footer-p footer-p-bold">@Work_Cloud (oficial)</p></a><spam class="icon icon-twitter footer-spam-right"></spam></li>
                  <li class="footer-li"><a href="#" class="footer-a"><p class="footer-p footer-p-bold">Work Cloud</p></a><spam class="icon icon-youtube footer-spam-right"></spam></li>

                </ul>
            </article>
         </article>
      </footer>
      <script src="../assets/js/front-index.js"></script>
    </body>
</html>
