doctype html
head
  meta(charset='utf-8')
  title Work Cloud
  link(rel='stylesheet', href='/fonts/demo-files/demo.css')
  link(href='/css/style-index.css', type='text/css', rel='stylesheet')
  link(rel='shortcut icon', href='/img/ico/work-cloud-logo.ico', type='image/x-icon')
  link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
  meta(name='viewport', content='width=device-width,user-scalable=no')
header
  #menu-fixed.menu-fixed
    .menu-tags
      img.menu-links.logo-nav(src='/img/work-cloud-logo.svg', alt='')
      a.menu-links(href='/') Home
      a.menu-links(href='/about') About
      a.menu-links(href='/documentation') Documentation
      a#btnLogin.menu-links(href='/login') Log in
      a#btnLogin.menu-links(href='/help') Help
      a#toggle-menu.cd-nav-trigger(href='#0')
        | Menu
        span
body
.container.container-txt-black
    // Default form login
    form.text-center.border.border-light.p-5
    p.mb-4.text-center.container-blue Log in
    // Email
    input#defaultLoginFormEmail.form-control.mb-4(type='email' placeholder='E-mail')
    // Password
    input#defaultLoginFormPassword.form-control.mb-4(type='password' placeholder='Password')
    .d-flex.justify-content-around
        div
        // Remember me
        .custom-control.custom-checkbox
            input#defaultLoginFormRemember.custom-control-input(type='checkbox')
            label.custom-control-label(for='defaultLoginFormRemember') Remember me
        div
        // Forgot password
        a(href='') Forgot password?
    // Sign in button
    button.btn.btn-info.btn-block.my-4(type='submit') Sign in
