<div class="card btn-no-waves" style="width: 18rem;">
  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">Card with stretched link</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <a href="https://mdbootstrap.com/education/bootstrap/quick-start/" target="_blank" class="stretched-link btn btn-primary">Go
      somewhere</a>
  </div>
</div>