
<div id="wrapper">
    <section>
        <div class="div-title-banner">
            <p class="p-title-banner"><a href="#" class="title-banner">Work Cloud</a></p>
            <p class="p-subtitle-banner"><b>¿Que es Work Cloud?</b></p>
            <p class="p-subtitle-banner">Work Cloud es una red social para empresas 
            <br>de software con el fin de compartir sus proyectos,<br>
            dudas, aclaraciones, etc. <br>
            </p>
            <p class="p-subtitle-banner">Con el resultado de establecer una mejor conversaciòn<br>
            con todo el personal y obtener mejores resultados<br>
            para la empresa y sus trabajadores.
            </p>
            <a href="#" class="btn-registro-banner">Registrate</a>
        </div>
        <article class="col-index" id="columna1">
        <img id="banner-img-index" src="/public/assets/img/banners/index-banner-3.svg" class="banner-img" alt="">
        </article>
        
        <div class="div-father">
        
        <div class="div-title-banner right">
            <p class="p-title-banner"><a href="#" class="title-banner">Utilidad</a></p>
            <p class="p-subtitle-banner"><b>¿Por qué utilizar Work Cloud?</b></p>
            <p class="p-subtitle-banner">Work Cloud es la una tendencia para las empresas 
            <br>Ya que esta mejora el rendimiento y la comunicación entre<br>
            los trabajadores en el área de software como por ejemplo DevOps,<br>diseñadores, programadores, etc.</p>
            <p class="p-subtitle-banner"><br>
            con la diferencia de utilizar otra red social esta misma maneja <br>
            herramientas especiales para la comunicación. 
            </p>
            <a href="#" class="btn-registro-banner">Saber mas</a>
        </div>
        <article class="col-index transparent" id="columna1">
        <img id="banner-img-index-down" src="/public/assets/img/banners/index-banner-4.svg" class="banner-img" alt="">
        </article>
    </div>


        <article class="card" id="columna2">
        <p class="card-title"><b>Rendimiento en el trabajo</b></p>
        <img class="img-card-index" src="/public/assets/img/svg-cards/process.svg" alt="">
        <p class="p-card-index">Supervisar el progreso.
            identificar los pasos para cumplir el objetivo
            evaluar que tanto congenia en las tareas
            reconocer el exito de cada uno 
            evaluar si posee el tamano adecuado
            sea adaptable a cada proyecto
            cuente con los recursos adecuados
        </p>
        </article>

        <article class="card">
            <p class="card-title"><b>Ejecucion de tareas</b></p>
            <img class="img-card-index" src="/public/assets/img/svg-cards/edit.svg" alt="">
            <p class="p-card-index">
            Desglose de tareas
            verificación de que las tareas cumplan con los objetivos propuestos
            ordenamiento de tareas 
            fijar tiempos de ejecución
            definicion de los responsables de las tareas o grupo de ellas
            estimacion de costos de ejecución
            </p>
        </article>

        <article class="card" id="columna3">
            <p class="card-title"><b>Almacenamiento</b></p>
            <img class="img-card-index" src="/public/assets/img/svg-cards/grafics.svg" alt="">
            <p class="p-card-index">Cada usuario tendra 15 GB de almacenamiento libre para cumplir con sus responsabilidades en el sistema, el cuál se podra usar de manera libre y sencilla con facil uso.
            </p>
        </article>

        <article class="card" id="columna3">
            <p class="card-title"><b>Progreso rápido</b></p>
            <img class="img-card-index" src="/public/assets/img/svg-cards/pay.svg" alt="">
            <p class="p-card-index">Todos los empleados tiene la oportunidad de avanzar y realizar de una manera más eficaz
                las tareas asignadas a cada uno de ellos.</p>
        </article>

        <article class="card" id="columna3">
            <p class="card-title"><b>Diseño y Usabilidad</b></p>
            <img class="img-card-index" src="/public/assets/img/svg-cards/all personal.svg" alt="">
            <p class="p-card-index">Nos enfocamos en un diseño mas minimalista para los usuarios 
            con una interface mas interactiva para tener una mejor experiencia interactiva
            </p>
        </article>


        <article class="card" id="columna3">
            <p class="card-title"><b>Soporte</b></p>
            <img class="img-card-index" src="/public/assets/img/svg-cards/grafics.svg  " alt="">
            <p class="p-card-index">Se le brindará soporte a los usuarios  que permanezcan y usen 
            la aplicación de manera continua, evitando que e estos tengan problemas y de ser asi, 
            sean solucionados de manera inmediata.</p>
        </article>

        


    </section>
