<div class='card card-profile text-center'>
    <img alt='' class='card-img-top' src=''>
    <div class='card-block'>
        <img alt='' class='card-img-profile' src='/public/upload/img_profile/{{user.image_profile}}'>
        <h3 class='card-title'>
            {{user.nickname}}
        </h3>
        <b>
            <h4>{{user.name}} {{user.lastname}}</h4>
        </b>
        <div class='card-links'>
            <i class="fa fa-gmail"></i>
            <a class='fa fa-twitter' href='#'></a>
            <a class='fa fa-facebook' href='#'></a>
        </div>
    </div>
</div>