<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="email@g.com">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">
        SignUp
    </button>
</form>