      <footer>
         <article class="container footer">
            <article class="card">
                <ul class="footer-ul">
                  <li class="footer-li"><a href="#" class="footer-a"><spam class="icon icon-location footer-spam"></spam><p class="footer-p">Pabellon de Arteaga</p><p class="footer-p footer-p-bold"><br>Pabellon de Arteaga</p></a></li>
                  <li class="footer-li"><a href="#" class="footer-a"><spam class="icon icon-mail footer-spam"></spam><p class="footer-p">oscar.eduardo.raygoza@gmail.com</p><p class="footer-p footer-p-bold"><br>Contactanos</p></a></li>
                  <li class="footer-li"><a href="#" class="footer-a"><spam class="icon icon-phone footer-spam"></spam><p class="footer-p">044-465-135-31-38</p><p class="footer-p footer-p-bold"><br>Comunicate con nosotros</p></a></li>                 
                </ul>
            </article>

            <article class="card">
                <ul class="footer-ul footer-ul-right">
                  <li class="footer-li footer-li-right"><a href="#" class="footer-a"><p class="footer-p footer-p-bold"><br>Work Cloud</p></a><spam class="icon icon-facebook footer-spam-right"></spam></li>
                  <li class="footer-li"><a href="#" class="footer-a"><p class="footer-p footer-p-bold">_Work_Cloud (oficial)</p></a><spam class="icon icon-instagram footer-spam-right"></spam></li>
                  <li class="footer-li"><a href="#" class="footer-a"><p class="footer-p footer-p-bold">@Work_Cloud (oficial)</p></a><spam class="icon icon-twitter footer-spam-right"></spam></li>
                  <li class="footer-li"><a href="#" class="footer-a"><p class="footer-p footer-p-bold">Work Cloud</p></a><spam class="icon icon-youtube footer-spam-right"></spam></li>

                </ul>
            </article>
         </article>
      </footer>
      <script src="/public/assets/js/front-index.js"></script>
    