<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-user-friends p-2"></i>Nuevos Grupos</h5>
    </div>
</div>
{{#each slidebar.groups}}
<div class="card btn-no-waves">
  <img class="card-img-top" src="/public/upload/img_groups/{{image_group}}" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="#" id="groupAdd" data-id="{{_id}}" target="_blank" class="stretched-link btn btn-primary">Unirme +</a>
  </div>
</div>
{{/each}}
