<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-layer-group p-2"></i>Mis grupos</h5>
    </div>
    <div class="card-body  p-0">
        <ul class="list-group">
             <a href="#"><li class="list-group-item">Grupo de C y C++</li></a>
             <a href="#"><li class="list-group-item">React</li></a>
             <a href="#"><li class="list-group-item">MongoDB</li></a>
             <a href="#"><li class="list-group-item">PostgreSql</li></a>
             <a href="#"><li class="list-group-item">Angular 4</li></a>
             <a href="#"><li class="list-group-item">Servidores en linux</li></a>
             <a href="#"><li class="list-group-item">C# .NET Framework</li></a>
             <a href="#"><li class="list-group-item">Ver mas...</li></a>
        </ul>
    </div>
</div>